* {
    box-sizing:border-box;
}
body {
    /* background-color:azure; */
    background-image: url(glitchsky.png);
    background-size: cover;
    text-align:center;
    font-size: large;

}

.topbar  {
    background-color:transparent;
    position: sticky;
    top:0;
    left:0;
    margin:0;
    width:100%;
    height:80px;
}

#menuslider {
    Position:absolute;
    top:0;
    right:-300px;
    width:300px;
    height:100vh;
    background-color: grey;
    border-left:2px solid;
    transition: 1s;
    z-index: 2;
}
#menuslider.activated{
    right:0;
}

.movinsquare{
    /* background:red; */
    position: relative;
    height:100%;
    width:5%;
    animation: movin 10s alternate infinite linear;
}

@keyframes movin{
    0%{
        left:0;
    }
    100%{
        left:95%;
    }
}

.leftbox {
    background-color:grey;
    position:absolute;
    left:5px;
    top:5px;
    width:32%;
    height:70px;
}

.midbox {
    background-color:grey;
    position:absolute;
    left:485px;
    top:5px;
    width:32%;
    height:70px;
}

.rightbox {
    background-color:grey;
    position:absolute;
    right:5px;
    top:5px;
    width:32%;
    height:70px;
}

.bigtext {
    font-size:50px;
}