* {
    box-sizing: border-box;
}

body {
    background:lightgreen;
    transition: background 1s;
}

header {
    background:lightgoldenrodyellow;
    text-align: center;
}

footer{
    text-align: center;
    transition: background 1s;
}

footer:hover{
    background:lightcoral;
}

header, footer, .side, .center {
background:lightgoldenrodyellow;
padding:10px;
}

main{
    display:flex;
    gap:10px;
    margin:10px 0;
}

img{
    max-width:100%;
}

.side{
    width:25%;
}

.center{
    width:50%;
}

@media screen and (max-width:800px){
    body {
        background:red;
    }

    main{
flex-direction:column;}

.side{
    width:100%;
}

.center{
    width:100%;
}
}

@media screen and (max-width:500px){
body{
    background:grey;
    font-size:130%;
}
}